<h2>Метод Гаусса для решения СЛАУ</h2>
<p>Алгоритм решения СЛАУ методом Гаусса с выбором главного элемента по столбцу подразделяется на два этапа.</p>
<ul>
  <li>
    На первом этапе осуществляется так называемый прямой ход, когда путём элементарных преобразований над строками
    систему приводят к ступенчатой или треугольной форме, либо устанавливают, что система несовместна. А именно, среди
    элементов первого столбца матрицы выбирают максимальный(главный) элемент. Если главный элемент равен нулю, то
    система не совместна, иначе, перемещают его на крайнее верхнее положение перестановкой строк и вычитают получившуюся
    после перестановки первую строку из остальных строк, домножив её на величину, равную
    отношению первого элемента каждой из этих строк к первому элементу первой строки, обнуляя тем самым столбец под ним.
    После того, как указанные преобразования были совершены, первую строку и первый столбец мысленно вычёркивают и
    продолжают пока не останется матрица нулевого размера.
  </li>
  <li>
    На втором этапе осуществляется так называемый обратный ход, суть которого заключается в том, чтобы выразить все
    получившиеся переменные через известную последнюю и тем самым построить вектор решения. Эта процедура начинается с
    последнего уравнения, из которого выражают переменную, затем ее подставляют в предыдущие уравнения, поднимаясь по
    «ступенькам» вверх пока не будут выражены все переменные.
  </li>
</ul>
<p>Метод Гаусса требует порядка O(n3) действий.</p>